body
{
    background-color: black;
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

.x
{
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 12px 22px;
}

.y
{
    font-family: "Georgia", serif;
    font-size: 50 px;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
img
{
    height: 150px;
    width: 150px;
}